extends layout/default.pug

block content
  h1  #{title}
  img(src=`/public/images/${image}`, alt=`${alt}`)
  p #{legend}

  <br />
  <br />
  <br />

  <div>
    p #{msg}
    input(type="text", data-input)
    button(type="button", data-button, question=`${question}`) Check
  </div>
