
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link id="" rel="shortcut icon" href="" type="image/png" />

<meta property="og:title" content="#{share.title}">
<meta property="og:url" content="#{share.url}">
<meta property="og:description" content="#{share.content}">
<meta property="og:image" content="#{share.baseurl}/public/images/#{share.image}">
<meta name="twitter:card" value="#{share.baseurl}/public/images/#{share.image}">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-W4ZR4JN');</script>
<!-- End Google Tag Manager -->