
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link id="" rel="shortcut icon" href="" type="image/png" />

<meta property="og:title" content="#{share.title}">
<meta property="og:url" content="#{share.url}">
<meta property="og:description" content="#{share.content}">
<meta property="og:image" content=`/public/images/#{share.image}`>
<meta name="twitter:card" value=`/public/images/#{share.image}`>